/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
  color : yellow ;
}
#outer-box{
  padding :10px;
  background-color: rgba(118, 15, 121, 0.784);

}
.inner-box{
  padding : 10px;
  background-color: red;

}

.white-text{
  color : white;
  font-family: 'Courier New', Courier, monospace;
  font-size: larger;
  font-weight: 400;
  font-style: oblique;
}



p {
  color: yellow;
  margin: 0;
  padding: 0;
}
